Flask==1.1.1
Flask-RESTful==0.3.7
freeze==1.0.10
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.0
MarkupSafe==1.1.1
murmurhash==1.0.2
plac==0.9.6
preshed==3.0.2
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
six==1.12.0
soupsieve==1.9.4
srsly==0.1.0
thinc==7.1.1
tqdm==4.36.1
urllib3==1.25.6
wasabi==0.2.2
Werkzeug==0.16.0
