/* BUTTON */

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

/* PRIMARY BUTTON */

.btn-primary {
  color: #fff;
  background-color: #0066ff;
  border-radius: 0.25rem;
}

.btn-primary:hover {
  color: #0066ff;
  background-color: #fff;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #0052cc;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0052cc;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  color: #fff;
  background-color: #0052cc;
}

/* OUTLINE PRIMARY BUTTON */

.btn-outline-primary {
  color: #0066ff;
  border-color: #0066ff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #0066ff;
  border-color: #0066ff;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #0066ff;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #0052cc;
  border-color: #0066ff;
}

/* SEARCH BUTTON */

.btn-search {
  color: #0066ff;
  background-color: #fff;
  border-left-width: 0px;
  border-color: #0066ff;
  border-radius: 0rem 5rem 5rem 0rem;
}

.btn-search:hover {
  color: #fff;
  background-color: #0066ff;
  border-color: #0066ff;
}

.btn-search:focus, .btn-search.focus {
  color: #fff;
  background-color: #0052cc;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.btn-search:not(:disabled):not(.disabled):active, .btn-search:not(:disabled):not(.disabled).active,
.show > .btn-search.dropdown-toggle {
  color: #fff;
  background-color: #0052cc;
}

.btn-search:not(:disabled):not(.disabled):active:focus, .btn-search:not(:disabled):not(.disabled).active:focus,
.show > .btn-search.dropdown-toggle:focus {
  color: #fff;
  background-color: #0052cc;
}

/* CANCEL BUTTON */

.btn-cancel {
  color: #fff;
  background-color: #E74C3C;
  border-color: #E74C3C;
}

.btn-cancel:hover {
  color: #fff;
  background-color: #e12e1c;
  border-color: #d62c1a;
}

.btn-cancel.disabled, .btn-cancel:disabled {
  color: #fff;
  background-color: #E74C3C;
  border-color: #E74C3C;
}

.btn-cancel:not(:disabled):not(.disabled):active, .btn-cancel:not(:disabled):not(.disabled).active,
.show > .btn-cancel.dropdown-toggle {
  color: #fff;
  background-color: #d62c1a;
  border-color: #ca2a19;
}

/* LINK BUTTON */

.btn-link {
  font-weight: 400;
  color: #2C3E50;
  text-decoration: none;
}

.btn-link:hover {
  color: #0f7864;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #95a5a6;
  pointer-events: none;
}
