/* Makes scrollbar transparent */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; }

/* NAVBAR */

.navbar {
  background-color: #0066ff; }

/* BUTTON */

.btn:focus, .btn.focus {
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-navbar {
  color: #fff;
  background-color: #0066ff;
  border-color: #0066ff; }
  .btn-navbar:hover {
    color: #0066ff;
    background-color: #fff;
    border-color: #0066ff; }
  .btn-navbar:focus, .btn-navbar.focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  .btn-navbar.disabled, .btn-navbar:disabled {
    color: #fff;
    background-color: #0066FF;
    border-color: #0066FF; }
  .btn-navbar:not(:disabled):not(.disabled):active, .btn-navbar:not(:disabled):not(.disabled).active,
  .show > .btn-navbar.dropdown-toggle {
    color: #fff;
    background-color: #0052cc;
    border-color: #0066FF; }
    .btn-navbar:not(:disabled):not(.disabled):active:focus, .btn-navbar:not(:disabled):not(.disabled).active:focus,
    .show > .btn-navbar.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }

.btn-search {
  color: #FFF;
  background-color: #0066ff;
  border-color: #0066ff;
  border-left-width: 0px;
  border-radius: 0rem 5rem 5rem 0rem; }
  .btn-search:hover {
    color: #0066ff;
    background-color: #FFF;
    border-color: #0066ff; }
  .btn-search:focus, .btn-search.focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  .btn-search.disabled, .btn-search:disabled {
    color: #fff;
    background-color: #0066ff;
    border-color: #0066ff; }
  .btn-search:not(:disabled):not(.disabled):active, .btn-search:not(:disabled):not(.disabled).active,
  .show > .btn-search.dropdown-toggle {
    color: #fff;
    background-color: #0052cc;
    border-color: #004dbf; }
    .btn-search:not(:disabled):not(.disabled):active:focus, .btn-search:not(:disabled):not(.disabled).active:focus,
    .show > .btn-search.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }

.btn-submit {
  color: #0066FF;
  border-color: #0066FF; }
  .btn-submit:hover {
    color: #fff;
    background-color: #0066FF;
    border-color: #0066FF; }
  .btn-submit:focus, .btn-submit.focus {
    box-shadow: 0 0 0 0 rgba(0, 102, 255, 0.5); }
  .btn-submit.disabled, .btn-submit:disabled {
    color: #0066FF;
    background-color: transparent; }
  .btn-submit:not(:disabled):not(.disabled):active, .btn-submit:not(:disabled):not(.disabled).active,
  .show > .btn-submit.dropdown-toggle {
    color: #fff;
    background-color: #0066FF;
    border-color: #0066FF; }
    .btn-submit:not(:disabled):not(.disabled):active:focus, .btn-submit:not(:disabled):not(.disabled).active:focus,
    .show > .btn-submit.dropdown-toggle:focus {
      box-shadow: 0 0 0 0 rgba(0, 102, 255, 0.5); }

.btn-cancel {
  color: #fff;
  background-color: #E74C3C;
  border-color: #E74C3C; }
  .btn-cancel:hover {
    color: #fff;
    background-color: #e12e1c;
    border-color: #d62c1a; }
  .btn-cancel:focus, .btn-cancel.focus {
    box-shadow: 0 0 0 0 rgba(235, 103, 89, 0.5); }
  .btn-cancel.disabled, .btn-cancel:disabled {
    color: #fff;
    background-color: #E74C3C;
    border-color: #E74C3C; }
  .btn-cancel:not(:disabled):not(.disabled):active, .btn-cancel:not(:disabled):not(.disabled).active,
  .show > .btn-cancel.dropdown-toggle {
    color: #fff;
    background-color: #d62c1a;
    border-color: #ca2a19; }
    .btn-cancel:not(:disabled):not(.disabled):active:focus, .btn-cancel:not(:disabled):not(.disabled).active:focus,
    .show > .btn-cancel.dropdown-toggle:focus {
        box-shadow: 0 0 0 0 rgba(235, 103, 89, 0.5); }

.btn-location {
  text-align: left;
  font-size: 0.75rem;
  line-height: 1.2;
  padding: 0px;
  color: #0066ff;
  text-decoration: none; }
  .btn-location:hover {
    color: #0066FF;
    text-decoration: underline; }
  .btn-location:focus, .btn-link.focus {
    text-decoration: underline;
    box-shadow: none; }
  .btn-location:disabled, .btn-link.disabled {
    color: #0052cc;
    pointer-events: none; }

.btn-edit {
  padding: 0px;
  margin: 0px 0px 0px 10px;
  font-weight: 400;
  color: #999999; }
  .btn-link:hover {
    color: #4d4d4d; }
  .btn-link:focus, .btn-link.focus {
    box-shadow: none; }
  .btn-link:disabled, .btn-link.disabled {
    color: #95a5a6;
    pointer-events: none; }

/* FORM  */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b8a8b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none; } }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #7b8a8b;
    background-color: #fff;
    border-color: #80b3ff;
    outline: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); }
  .form-control::placeholder {
    color: #95a5a6;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #ecf0f1;
    opacity: 1; }

.form-text {
  display: block;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

/* CARD */

.card {
  margin: 25px 50px;
  background-color: #FFF;
  background-clip: border-box;
  border: 0px;
  border-radius: 0.75rem;
  box-shadow: 1px 1px 10px #d9d9d9; }
  @media (max-width: 576px) {
    .card {
      margin: 25px 30px; } }
  .card:first-child {
    margin-top: 20px; }
  .card:last-child {
    margin-bottom: 20px; }
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem; }
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem; }

.card-body {
  color: #1a1a1a;
  padding: 1.25rem 1.25rem 0rem 1.25rem; }

.card-title {
  font-size: 1.40625rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0; }

.card-header {
  padding: 1.25rem 1.25rem 0.75rem 1.25rem;
  background-color: #fff;
  border-bottom: 0; }
  .card-header:first-child {
    border-radius: 0.75rem; }

.card-footer {
  padding: 1rem 1.25rem;
  background-color: #fff;
  border-top: 0; }
  .card-footer:last-child {
    border-radius: 0.75rem; }

.card-img {
  width: 100%;
  border-radius: 0; }

.post-time {
  font-size: 0.85rem;
  line-height: 1.2;
  color: #95a5a6;
  margin-top: 2px;
}

/* ACCORDION */

.accordion {
  overflow: auto;
}

.accordion > .card {
  overflow: hidden; }
  .accordion > .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0.75rem; }
  .accordion > .card:not(:first-of-type):not(:last-of-type) {
    border-radius: 0.75rem; }
  .accordion > .card:first-of-type {
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem; }
  .accordion > .card:last-of-type {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem; }

/* BADGE (PILL) */

.badge-pill {
  margin-right: 5px; }
  .badge-pill:last-child {
  margin-right: 0px; }

.badge-vegetarian {
  color: #fff;
  background-color: #18bc1d; }

.badge-vegan {
  color: #fff;
  background-color: #3498DB; }

.badge-kosher {
  color: #fff;
  background-color: #0066FF; }

.badge-halal {
  color: #fff;
  background-color: #E74C3C; }

.badge-gluten {
  color: #fff;
  background-color: #F39C12; }

/* MODAL */

.modal-header {
  padding: 1rem 1rem 0rem 1rem;
  border-bottom: 0px solid transparent; }

.modal-footer {
  padding: 0rem 1rem 1rem 1rem;
  border-top: 0px solid transparent; }

/* DROPDOWN */

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 5rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.9375rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #7b8a8b;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0; }
  .dropdown-item:hover, .dropdown-item:focus {
    color: #0066ff;
    text-decoration: none;
    background-color: #fff; }

/* Removes caret from dropdown button */
.dropdown-toggle::after {
  display: none; }

/* CUSTOM */

.red {
  color: #E74C3C; }

#post-pane {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 54.38px);
  max-width: 576px;
  min-width: 400px; }

#map-pane {
  height: calc(100vh - 54.38px); }

@media (max-width: 576px) {
  #post-pane {
    min-width: 320px;
    width: 100vw; }

  #map-pane {
    display: none; } }

#form-search {
  height: calc(1.5em + 0.75rem + 1.5px);
  width: calc(100% - 40px);
  padding: 0.375rem 1rem;
  border: 1px solid #0066ff;
  border-radius: 5rem 0rem 0rem 5rem; }

#map {
  width: 100%;
  height: 100%;
  background-color: #000; }

#profile {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 54.38px); }

#profile-name {
  text-align: center;
  color: #0066ff;
  margin: 30px auto 15px; }

#profile-text {
  text-align: center;
  color: #0066ff;
  margin-bottom: 10px; }

#user-feed {
  max-width: 500px;
  overflow: auto; }
