/* Makes scrollbar transparent */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

/* NAVBAR */

.navbar {
  background-color: #0066ff; }

/* BUTTON */

.btn:focus, .btn.focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

.btn-landing {
  font-size: 1.25rem;
  color: #fff;
  background-color: #0066ff;
  border-color: #0066ff;
  border-radius: 10rem;
  padding: 0.75rem 1.25rem; }
  .btn-landing:hover {
    color: #fff;
    background-color: #0052cc;
    border-color: #0052cc; }
  @media (max-width: 576px) {
    .btn-landing {
      font-size: 1rem; } }

.btn-landing-navbar {
  font-size: 1.05rem;
  color: #fff;
  background-color: #0066ff;
  border-color: #0066ff;
  padding: 0.5rem 0.75rem; }
  .btn-landing-navbar:hover {
    color: #fff;
    background-color: #0052cc;
    border-color: #0052cc; }
  @media (max-width: 576px) {
    .btn-landing-navbar {
      font-size: 1rem;
      padding: 0rem 0.55rem; } }
  @media (max-width: 320px) {
    .btn-landing-navbar {
      font-size: 12px;
      padding: 0rem 0.4rem; } }

.btn-landing-navbar-dropdown {
  color: #fff;
  background-color: #0066ff;
  border-color: #0066ff;
  padding: 0.5rem; }
  .btn-landing-navbar-dropdown:hover {
    color: #fff;
    background-color: #0052cc;
    border-color: #0052cc; }
  @media (max-width: 576px) {
    .btn-landing-navbar-dropdown {
      padding: 0.3rem; } }


.btn-navbar {
  padding: 6px;
  margin: 0px 2px;
  color: #fff;
  background-color: #0066ff;
  border-color: #0066ff; }
  .btn-navbar:hover {
    color: #0066ff;
    background-color: #fff;
    border-color: #0066ff; }

.btn-navbar-icon {
  font-size: 1.25rem;
  padding: 0px 5px;
  margin: 0px 2px;
  color: #fff;
  background-color: #0066ff;
  border-color: #0066ff; }
  .btn-navbar-icon:hover {
    color: #0066ff;
    background-color: #fff;
    border-color: #0066ff; }

.btn-profile {
  font-weight: 400;
  color: #7b8a8b;
  text-decoration: none; }

.btn-profile:hover {
  color: #0066ff;
  text-decoration: none; }

.btn-filter {
    font-size: 16px;
    padding: 6px;
    color: #0066ff;
    background-color: #fff;
    border-color: #0066ff; }
  .btn-filter:hover {
    color: #0052cc;
    background-color: #fff;
    border-color: #0066ff; }
  .btn-filter:not(:disabled):not(.disabled):active,
  .btn-filter:not(:disabled):not(.disabled).active,
  .show > .btn-filter.dropdown-toggle {
    color: #fff;
    background-color: #0066ff;
    border-color: #0066ff; }
  @media (max-width: 576px) {
    .btn-filter {
      font-size: 14px; } }

.btn-submit {
  color: #0066FF;
  border-color: #0066FF; }
  .btn-submit:hover {
    color: #fff;
    background-color: #0066FF;
    border-color: #0066FF; }
  .btn-submit:focus, .btn-submit.focus {
    box-shadow: none; }
  .btn-submit.disabled, .btn-submit:disabled {
    color: #0066FF;
    background-color: transparent; }
  .btn-submit:not(:disabled):not(.disabled):active,
  .btn-submit:not(:disabled):not(.disabled).active,
  .show > .btn-submit.dropdown-toggle {
    color: #fff;
    background-color: #0066FF;
    border-color: #0066FF; }
    .btn-submit:not(:disabled):not(.disabled):active:focus,
    .btn-submit:not(:disabled):not(.disabled).active:focus,
    .show > .btn-submit.dropdown-toggle:focus {
      box-shadow: none; }

.btn-cancel {
  color: #fff;
  background-color: #E74C3C;
  border-color: #E74C3C; }
  .btn-cancel:hover {
    color: #fff;
    background-color: #e12e1c;
    border-color: #d62c1a; }

.btn-location {
  text-align: left;
  font-size: 0.75rem;
  line-height: 1.2;
  padding: 0px;
  color: #0066ff;
  text-decoration: none; }
  .btn-location:hover {
    color: #0066FF;
    text-decoration: underline; }
  .btn-location:focus, .btn-location.focus {
    text-decoration: underline;
    box-shadow: none; }
  .btn-location:disabled, .btn-location.disabled {
    color: #0052cc;
    pointer-events: none; }

.btn-going-off {
  text-align: right;
  font-size: 1rem;
  color: #95a5a6;
  padding: 0; }
  .btn-going-off:hover {
    color: #737e80; }
  .btn-going-off i {
    margin: 0px 3px 0px 5px; }

.btn-going-on {
  text-align: right;
  font-size: 1rem;
  color: #0066ff;
  padding: 0; }
  .btn-going-on:hover {
    color: #0052cc; }
  .btn-going-on i {
    margin: 0px 3px 0px 5px; }

.btn-edit {
  padding: 0px;
  font-weight: 400;
  color: #999999; }
  .btn-edit:hover {
    color: #4d4d4d; }

/* FORM  */

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b8a8b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none; } }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #7b8a8b;
    background-color: #fff;
    border-color: #80b3ff;
    outline: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); }
  .form-control::placeholder {
    color: #95a5a6;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #ecf0f1;
    opacity: 1; }

.form-text {
  display: block;
  margin-top: 0;
  margin-bottom: 0.25rem; }

.form-warning {
  text-align: right;
  color: #E74C3C;
  font-size: 0.8rem; }

/* CARD */

.card {
  margin: 25px 50px;
  background-color: #FFF;
  background-clip: border-box;
  border: 0px;
  border-radius: 0.75rem;
  box-shadow: 1px 1px 10px #d9d9d9; }
  .card:first-child {
    margin-top: 20px; }
  .card:last-child {
    margin-bottom: 20px; }
  .card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem; }
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem; }
  @media (max-width: 576px) {
    .card {
      margin: 25px 30px; }
    .card:last-child {
      margin-bottom: 25px; } }

.card-body {
  color: #1a1a1a;
  padding: 0.75rem 1.25rem 0rem 1.25rem; }

.card-title {
  font-size: 1.40625rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0; }

.card-header {
  padding: 1.25rem 1.25rem 0.75rem 1.25rem;
  background-color: #fff;
  border-bottom: 0; }
  .card-header:first-child {
    border-radius: 0.75rem; }

.card-footer {
  padding: 0.5rem 1.25rem 1rem;
  background-color: #fff;
  border-top: 0; }
  .card-footer:last-child {
    border-radius: 0.75rem; }

.card-img {
  width: 100%;
  border-radius: 0; }

.card-time {
  text-align: right;
  font-size: 0.85rem;
  line-height: 1.2;
  color: #95a5a6;
  margin-top: 2px;
  min-width: 100px;
  max-width: 110px; }

.card-num {
  font-size: 1rem;
  color: #95a5a6; }

.card-going {
  text-align: right;
  font-size: 1rem;
  min-width: 80px;
  max-width: 90px; }

.card-title-container {
  max-width: 225px; }

.card-edit-container {
  margin-left: 10px;
  max-width: 8px; }

/* BADGE (PILL) */

.badge-pill {
  margin-right: 5px; }
  .badge-pill:last-child {
  margin-right: 0px; }

.badge-vegetarian {
  color: #fff;
  background-color: #18bc1d; }

.badge-vegan {
  color: #fff;
  background-color: #3498DB; }

.badge-kosher {
  color: #fff;
  background-color: #0066FF; }

.badge-halal {
  color: #fff;
  background-color: #E74C3C; }

.badge-gluten {
  color: #fff;
  background-color: #F39C12; }

/* MODAL */

.modal-header {
  padding: 1rem 1rem 0rem 1rem;
  border-bottom: 0px solid transparent; }

.modal-footer {
  padding: 0rem 1rem 1rem 1rem;
  border-top: 0px solid transparent; }

/* DROPDOWN */

.dropdown-item:hover, .dropdown-item:focus {
  color: #0066ff;
  text-decoration: none;
  background-color: #fff; }

.account-dropdown-menu {
  min-width: 7rem; }

.card-dropdown-menu {
  min-width: 5rem; }

/* Removes caret from card dropdown button */
.card-dropdown-toggle.dropdown-toggle::after {
  display: none; }

.landing-dropdown {
  margin: auto 25px 25px auto;
  opacity: 0; }
  @media (max-width: 576px) {
    .landing-dropdown {
      margin: auto 10px 15px auto; } }

.landing-dropdown-menu {
  background-color: #0066ff;
  min-width: 7rem; }

.landing-dropdown-item {
  color: #fff; }

/* TOAST */

.toast {
  max-width: 300px;
  overflow: hidden;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0;
  border-radius: 0.25rem; }

.toast-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 0.75rem;
  color: #95a5a6;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.toast-success {
  color: #0c6251;
  background-color: rgba(209, 242, 235, 0.85);
  border: 1px solid rgba(103, 128, 123, 0.1); }

.toast-header-success {
  color: #0c6251;
  background-color: transparent;
  border-bottom: 1px transparent rgba(0, 0, 0, 0); }
  .toast-header-success button {
    color: #0c6251; }
  .toast-header-success button:hover {
    color: #094d3f; }

.toast-fail {
  color: #78281f;
  background-color: rgba(250, 219, 216, 0.85);
  border: 1px solid rgba(128, 106, 103, 0.1); }

.toast-header-fail {
  color: #78281f;
  background-color: transparent;
  border-bottom: 1px transparent rgba(0, 0, 0, 0); }
  .toast-header-fail button {
    color: #78281f; }
  .toast-header-fail button:hover {
    color: #66221b; }

/* CUSTOM */

.red {
  color: #E74C3C; }

.user-location {
  text-align: left;
  font-size: 0.75rem;
  line-height: 1.2;
  padding: 0px;
  color: #0066ff; }

.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }

.right {
  display: flex;
  text-align: right;
  align-items: right;
  justify-content: right; }

a {
  color: #0066ff; }
  a:hover {
    color: #0052cc; }

/* Landing Page */

#landing-container {
  overflow: auto; }

#landing-image {
  display: flex;
  flex-flow: column;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: calc(-100vh + 120px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/hadg27jul/image/upload/v1577773845/assets/landing_idsvsa.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  z-index: 10; }
  @media (max-width: 576px) {
    #landing-image {
      top: calc(-100vh + 90px); } }

#logo {
  height: 60px;
  margin-right: 3px;
  transform: translate(0, -8px); }
  @media (max-width: 576px) {
    #logo {
      height: 38px;
      transform: translate(0, -5px); } }

#landing-title {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  color: #fff;
  font-size: 5rem;
  font-weight: 750;
  top: -10px;
  padding-top: 25vh;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */ }
  @media (max-width: 576px) {
    #landing-title {
      font-size: 3rem; } }

#tagline {
  font-size: 2rem;
  color: #fff;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */ }
  @media (max-width: 576px) {
    #tagline {
      font-size: 1.25rem; } }

#login-container {
  margin-top: 30px; }

#info {
  padding: 70px 15px; }

.info-col {
  color: #0066FF;
  flex-flow: column;
  max-width: 400px;
  line-height: 1.2;
  font-size: 24px;
  margin: 30px 0px; }
  .info-col i {
    font-size: 60px; }
  @media (max-width: 576px) {
    .info-col {
      margin: 30px 0px; } }

#app-image {
  width: 60vw; }
  @media (max-width: 576px) {
    #app-image {
      width: 100vw; } }

#features {
  color: #0066ff;
  font-size: 18px;
  margin-top: 30px;
  padding-right: 30px; }

#developers {
  background-color: #0066ff;
  padding: 30px 15px; }

#dev-title {
  font-size: 2.25rem;
  font-weight: 600;
  color: #fff;
  padding: 20px 15px 15px; }

.dev-col {
  display: flex;
  flex-flow: column;
  color: #fff;
  font-size: 0.1rem;
  max-width: 400px;
  line-height: 1.2;
  font-size: 24px;
  margin: 30px 0px; }
  .dev {
    width: 15vw;
    margin-bottom: 10px; }
  @media (max-width: 576px) {
    .dev-col {
      margin: 15px 0px; }
    .dev {
      width: 30vw; } }

.dev-info {
  font-size: 18px; }

#credits {
  font-size: 12px;
  color: #0066ff;
  padding: 30px 15px 15px; }

/* App */

#toast-container {
  position: absolute;
  max-width: 300px;
  top: 64.38px;
  right: 10px; }

/* Home Page* */

#post-pane {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 54.38px);
  min-width: 400px;
  max-width: 500px; }
  @media (max-width: 576px) {
    #post-pane {
      min-width: 320px;
      height: calc(100vh - 104.38px);
      width: 100vw; } }

#form-search {
  height: calc(1.5em + 0.75rem + 1.5px);
  width: calc(100% - 40px);
  padding: 0.375rem 1rem;
  border: 1px solid #0066ff;
  border-radius: 5rem 0rem 0rem 5rem; }

#post-feed {
  overflow: auto; }

#filter-options {
  padding: 15px;
  border-bottom: 1px solid #0066ff; }

#no-food {
  text-align: center;
  color: #bfbfbf;
  height: 100%;
  width: 100%;
  padding: 0;
  margin-top: calc(100vh / 3); }

#heart-broken {
  font-size: 60px;
  margin-bottom: 5px; }

/* MAP */

#map-pane {
  height: calc(100vh - 54.38px); }
  @media (max-width: 576px) {
    #map-pane {
      display: none; } }

#map {
  width: 100%;
  height: 100%;
  background-color: #000; }

.pin {
  cursor: pointer;
  fill: #d00;
  stroke: none;
  transform: translate(-12.5px, -25px); }

.mapboxgl-popup-content {
  padding: 0; }

.popup-title {
  font-size: 16px;
  border-bottom: 1px solid #cccccc; }

/* Profile Page */

#profile {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 54.38px); }

#profile-name {
  text-align: center;
  color: #0066ff;
  margin: 30px auto 15px; }

#profile-text {
  text-align: center;
  color: #0066ff;
  margin-bottom: 10px; }

#user-feed {
  max-width: 500px;
  overflow: auto; }
